body {
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
    gap: 10px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.box {
    padding: 10px;
    background-color: dodgerblue;
    cursor: pointer;
    color: white;
    height: 50px;
}

.scrolly-box {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    overflow-y: scroll;
}