name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ~/.elm
            ~/.npm
            **/elm-stuff
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install

      - name: Run Unit Tests
        run: npm test

  integration:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./integration
    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ~/.elm
            ~/.npm
            **/elm-stuff
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install

      - name: Run Integration Tests
        run: npm run server & npm run test:ci

  review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ~/.elm
            ~/.npm
            **/elm-stuff
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install

      - name: Verify versions match
        run: npm run check-versions

      - name: Verify Docs Compile
        run: npm run docs:verify

      - name: Run Elm Review
        run: npm run review:ci

  runner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install

      - name: Verify Runner Compiles
        run: npm run runner:compile
